/*---------------------Headings---------------------*/
.header i {
  color: var(--Black);
}

.nav__logo a {
  color: var(--Black);
}

.nav__menu a {
  color: var(--Black);
}

.container {
  margin-inline: auto;
}

/*---------------------Login---------------------*/
.login__container {
  margin-top: 7.5rem;
  margin-bottom: 5rem;
}

.form {
  display: grid;
  align-items: center;
  justify-content: center;
}

.login__form {
  margin: 2rem 1rem;
  padding: 1rem 1.5rem 0;
  border: 2px solid rgba(45, 45, 45, 0.5);
  border-radius: 0.2rem;
}

.login__form > div {
  display: flex;
  flex-direction: column;
}

.login__form > div > label {
  margin-bottom: 0.5rem;
  font-family: var(--Raleway);
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 1rem;
  font-weight: var(--Raleway600);
}

.login__form > div > p {
  margin-top: 0.25rem;
  font-size: 13px;
  color: Red;
  font-weight: var(--Raleway500);
  font-family: var(--Raleway);
  display: none;
}

.login__form > div > p.show {
  display: inline-block;
}

.login__form > div:last-child {
  margin-top: 1rem;
}

.login__form > div > input[type="email"],
.login__form > div > input[type="password"] {
  font-family: var(--Raleway);
  font-size: 12px;
  padding: 0.75rem 1rem;
  border: 2px solid Grey;
  border-radius: 0.2rem;
  outline: none;
  width: 280px;
  color: var(--Black);
}

.login-submit {
  margin-top: 1.25rem;
  padding: 0.75rem 2rem;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  font-family: var(--Raleway);
  font-weight: var(--Raleway500);
  font-size: 12px;
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out,
    background 0.3s ease-in-out;
  background: var(--Dark);
  color: var(--White);
}

.login-submit:hover {
  color: var(--White);
  background: var(--DarkGold);
  box-shadow: 0 0 10px 0 var(--DarkGold);
}

.login__form > div:nth-child(3) {
  display: flex;
  position: relative;
  align-items: flex-start;
}

.login__form > div:nth-child(3) img {
  position: absolute;
  right: 35px;
  width: 50px;
  height: 50px;
  top: 25px;
}

.login__form > div:last-child {
  flex-direction: row;
  column-gap: 1rem;
  margin: 2rem 0;
}

.login__form > div:last-child span,
.login__form > div:last-child a {
  font-family: var(--Raleway);
  font-size: 14px;
}

.login__form > div:last-child a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Black);
  transition: color 0.3s ease-in-out;
  font-weight: var(--Raleway600);
  font-size: 14px;
}

.login__form > div:last-child a:hover {
  color: var(--DarkGold);
}

.horizontal__line {
  border-left: 2px solid var(--DarkGold);
}

.login__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  background: rgba(45, 45, 45, 0.5);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.login__overlay > div img {
  width: 70px;
  height: 70px;
}

.login__overlay > div {
  background: var(--White);
  width: calc(100% - 3rem);
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 20px 0 var(--White);
}

.login__overlay.show {
  opacity: 1;
  visibility: visible;
}

.login__success-text {
  display: grid;
  row-gap: 1rem;
  margin-top: 0.5rem;
  font-family: var(--Raleway);
}

.login__success-text h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  border-bottom: 2px solid var(--DarkGold);
  width: fit-content;
}

.login__success-text p {
  font-size: 14px;
  line-height: 1.5;
}

.login__success-text button {
  padding: 0.75rem;
  font-family: var(--Raleway);
  border-radius: 0.2rem;
  border: 2px solid var(--Dark);
  text-transform: capitalize;
  margin-top: 0.5rem;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.login__success-text button:hover {
  background: var(--DarkGold);
  color: var(--White);
  border: none;
}
