@media screen and (min-width: 576px) {
  .nav__menu a,
  .nav__logo a,
  .nav__logo i,
  .header i {
    color: var(--White);
  }

  .signup {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .signup__container,
  .login__overlay > div {
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .footer__outer-row-first > div:last-child,
  .footer__outer-row-second > div:first-child,
  .footer__outer-row-second > div:last-child {
    margin-top: 0;
  }
}
