.signup__container {
  margin-top: 7.5rem;
  margin-bottom: 5rem;
}

.signup__form {
  border: 2px solid rgba(45, 45, 45, 0.5);
  margin: 2rem 1.5rem;
  border-radius: 0.2rem;
  padding: 1.5rem;
}

.signup__form > div {
  display: flex;
  gap: 0.75rem;
}

.signup__first-name label,
.signup__last-name label,
.signup__content > div label {
  font-family: var(--Raleway);
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 2px solid var(--DarkGold);
  width: fit-content;
  font-size: 14px;
  font-weight: var(--Raleway600);
}

.signup__first-name input[type="text"],
.signup__last-name input[type="text"] {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.75rem 0 0.75rem 0.75rem;
  border: 2px solid var(--Black);
  border-radius: 0.2rem;
  font-family: var(--Raleway);
  font-size: 12px;
  background: var(--White);
}

.signup__content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.signup__content > div {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.signup__content input[type="email"],
.signup__content input[type="password"] {
  padding: 0.75rem 0 0.75rem 0.75rem;
  border: 2px solid var(--Black);
  border-radius: 0.2rem;
  font-family: var(--Raleway);
  font-size: 12px;
  background: var(--White);
}

.signup__content button {
  margin-top: 0.75rem;
  padding: 0.75rem;
  background: var(--Dark);
  font-weight: var(--Raleway600);
  transition: box-shadow 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
  color: var(--White);
  border-radius: 0.2rem;
  font-family: var(--Raleway);
  font-size: 13px;
  border: none;
}

.signup__content button:hover {
  background: var(--DarkGold);
  color: var(--White);
  box-shadow: 0 0 10px 0 var(--DarkGold);
}

.signup__first-name p,
.signup__last-name p {
  margin-top: 0.5rem;
}

.signup__first-name p,
.signup__last-name p,
.signup__content > div p {
  color: Red;
  font-size: 12px;
  font-family: var(--Raleway);
  display: none;
}

.signup__first-name p.show,
.signup__last-name p.show,
#email-error.show,
#password-error.show,
#password__simple-error.show,
#verify-error.show,
#redirect-timer.show {
  display: block;
  font-weight: var(--Raleway600);
}

#redirect-timer {
  text-align: center;
}
