.banner__container {
  padding: 4.5rem 0 2rem;
}

.banner__container > div {
  position: relative;
}

.banner__container img {
  width: 100%;
  margin-bottom: -5px;
}

.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 45, 45, 0.5);
  text-align: center;
}

.banner__overlay > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__overlay h1 {
  font-size: 1.75rem;
  font-family: var(--Raleway);
  text-transform: uppercase;
  color: var(--White);
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.banner__overlay p {
  color: var(--White);
  font-family: var(--Raleway);
  font-size: 14px;
  font-weight: var(--Raleway500);
  margin-inline: 1.5rem;
  margin-top: 1rem;
  line-height: 1.5;
}

.banner__overlay span {
  color: var(--Gold);
  border-bottom: 2px solid var(--White);
}
