/* ====== HEADER & NAV ====== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: background 0.3s ease-in-out;
}

.header i {
  color: var(--White);
}

.header > nav > div:last-child .fa-bars.hide {
  display: none;
}

.header > nav .nav__menu .fa-xmark.show {
  display: inline-block;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
}

.nav > div:last-child {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  margin-right: 1.5rem;
}

.nav > div:last-child a {
  height: 19px;
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  margin-left: 1.5rem;
}

.nav__logo a {
  text-decoration: none;
  font-weight: var(--Raleway600);
  color: var(--White);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.nav__logo a:hover,
.nav__logo a:hover + .fa-user-secret {
  color: var(--Gold);
}

.fa-user-secret {
  transition: color 0.3s ease-in-out;
}

.nav__menu {
  position: absolute;
  padding: 2rem 0;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 2px 20px 0 hsla(228, 4%, 15%, 1);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1;
}

.nav__menu.hide {
  opacity: 0;
  visibility: hidden;
}

.nav__menu a {
  text-decoration: none;
  color: var(--White);
  font-family: var(--Raleway);
  font-weight: var(--Raleway600);
  font-size: 14px;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.nav__menu a:hover {
  color: var(--Gold);
  border-bottom: 2px solid var(--Gold);
}

.nav__menu .fa-xmark {
  position: absolute;
  right: 30px;
  top: 20px;
}

.header__cart {
  position: relative;
  right: 5px;
  z-index: 0;
  width: 20px;
  height: 20px;
}

.count__item {
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgb(252, 82, 82);
  z-index: -1;
  top: -5px;
  right: -7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count__quantity {
  color: var(--White);
  font-size: 13px;
  font-weight: var(--Raleway600);
}

/* ====== CHANGE BACKGROUND HEADER ====== */
.scroll-header {
  background-color: var(--White);
  box-shadow: 0 1px 4px hsla(228, 4%, 15%, 0.1);
}

.scroll-header a,
.scroll-header i {
  color: var(--Black);
}

.bx {
  font-size: 1.25rem;
}

.bx-moon {
  margin-right: 0.3rem;
}
