.newsletter__form {
  margin-top: 4rem;
}

.newsletter__form-wrapper > div {
  display: flex;
  flex-direction: column;
}

.newsletter__form-wrapper > div > label {
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  font-weight: var(--Poppins600);
  border-bottom: 2px solid var(--Gold);
  width: fit-content;
}

.newsletter__form-wrapper > div > label,
.newsletter__form-wrapper > div > input[type="text"],
.newsletter__form-wrapper > div > input[type="email"],
.newsletter__form-wrapper > div > textarea {
  font-family: var(--Poppins);
}

.newsletter__form-wrapper > div > input[type="text"],
.newsletter__form-wrapper > div > input[type="email"],
.newsletter__form-wrapper > div > textarea {
  padding: 0.5rem 1rem;
  border: 2px solid var(--Dark);
  border-radius: 0.25rem;
}

.newsletter__form-wrapper > div {
  margin: 0.25rem 0 0.75rem;
}

.newsletter__form-wrapper > div > p {
  margin-top: 0.25rem;
  font-size: 13px;
  color: Red;
  font-weight: var(--Poppins500);
  font-family: var(--Poppins);
  display: none;
}

.newsletter__form-wrapper > div > p.show {
  display: inline-block;
}

.newsletter__form > form > input[type="submit"] {
  padding: 0.75rem 1rem;
  font-family: var(--Poppins);
  font-weight: var(--Poppins600);
  background: var(--Dark);
  color: var(--White);
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  border: none;
  outline: none;
  border-radius: 0.25rem;
}

.newsletter__form > form > input[type="submit"]:hover {
  background: var(--DarkGold);
}

.newsletter__overlay > div:not(:last-child) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.newsletter__overlay img {
  position: absolute;
  top: 1rem;
  left: 3rem;
}

.newsletter__social {
  display: none;
}

.newsletter__success-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  background: rgba(45, 45, 45, 0.5);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.newsletter__success-overlay.show {
  opacity: 1;
  visibility: visible;
}

.newsletter__success-overlay > div {
  background: var(--White);
  width: calc(100% - 3rem);
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 20px 0 var(--White);
}

.newsletter__success-overlay > div img {
  width: 70px;
  height: 70px;
}

.newsletter__success-text {
  display: grid;
  row-gap: 1rem;
  margin-top: 0.5rem;
  font-family: var(--Poppins);
}

.newsletter__success-text h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.newsletter__success-text p {
  font-size: 14px;
}

.newsletter__success-text button {
  padding: 0.75rem;
  font-family: var(--Poppins);
  border-radius: 0.2rem;
  border: 2px solid var(--Dark);
  text-transform: capitalize;
  margin-top: 0.5rem;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.newsletter__success-text button:hover {
  background: var(--DarkGold);
  color: var(--White);
  border: none;
}
