/* ====== MEDIA QUERIES ======= */
@media screen and (min-width: 576px) {
  .header .fa-bars,
  .header .fa-xmark {
    display: none;
  }

  .header {
    background: rgba(45, 45, 45, 0.5);
    border-radius: 0 0 0.25rem 0.25rem;
    backdrop-filter: blur(5px);
  }

  .nav__menu a {
    font-weight: var(--Raleway500);
  }

  .scroll-header a,
  .scroll-header i {
    color: var(--White);
  }

  .nav__menu.hide {
    opacity: 1;
    visibility: visible;
  }

  .nav__menu {
    position: relative;
    background: none;
    backdrop-filter: none;
    flex-direction: row;
    width: initial;
    padding: 0;
    box-shadow: none;
  }

  .hero {
    background: initial;
  }

  .hero__quotes {
    padding-top: 0;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    margin-inline: 1.5rem;
  }

  .hero__quotes h1 {
    color: var(--Black);
    border: 2px solid var(--Black);
    box-shadow: 0 0 20px 0 var(--Black);
  }

  .hero__quotes p {
    color: var(--Grey);
  }

  .hero__quotes a {
    border: 2px solid var(--Black);
  }

  .hero > div {
    display: flex;
    align-items: center;
  }

  .hero > div img {
    width: 50%;
    min-height: 100vh;
    position: relative;
    object-position: top;
  }

  .hero__scroll-down {
    position: absolute;
    width: 100%;
  }

  .hero__scroll-down i,
  .hero__scroll-down a {
    color: var(--Black);
    margin-top: 0;
  }

  .banner__overlay h1 {
    font-size: 2.5rem;
  }

  .banner__overlay p {
    font-size: 1rem;
    width: 50%;
  }

  .newsletter__form-wrapper {
    display: grid;
    align-items: center;
    column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .newsletter__success-overlay > div {
    width: 400px;
  }

  .footer__outer-row-first,
  .footer__outer-row-second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .footer__outer-row-first > div:last-child {
    margin-top: 0rem;
  }
}

@media screen and (min-width: 768px) {
  .hero__quotes {
    margin: 0 3rem;
  }

  .banner__container img {
    height: 450px;
    object-fit: cover;
    object-position: center;
  }

  .banner__overlay {
    display: initial;
  }

  .newsletter__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .newsletter__container > div {
    position: relative;
  }

  .newsletter__overlay h2,
  .newsletter__overlay p {
    text-align: left;
    padding-inline: 0;
  }

  .newsletter__overlay p {
    width: 80%;
  }

  .newsletter__overlay {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px 0 rgba(45, 45, 45, 0.5);
    border-radius: 0.2rem;
    z-index: 1;
    margin-top: 1rem;
    padding: 4rem 0 4rem 2rem;
  }

  .newsletter__overlay img {
    top: 3rem;
    left: 2rem;
  }

  .newsletter__form {
    background: var(--Dark);
    border-radius: 0.2rem;
  }

  .newsletter__form-wrapper > div > label {
    color: var(--White);
  }

  .newsletter__form > form {
    padding: 2rem 3rem;
  }

  .newsletter__form-wrapper > div > input[type="text"],
  .newsletter__form-wrapper > div > input[type="email"],
  .newsletter__form-wrapper > div > textarea {
    background: transparent;
    border: 2px solid Grey;
    color: var(--White);
    outline: none;
  }

  .newsletter__form > form > input[type="submit"] {
    background: transparent;
    border: 2px solid Grey;
  }

  .newsletter__form > form > input[type="submit"]:hover {
    transition: border 0.3s ease-in-out;
    border: 2px solid var(--White);
  }

  .newsletter__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 4rem;
    width: 80%;
  }

  .newsletter__social p {
    font-family: var(--Raleway);
    font-size: 14px;
  }

  .newsletter__social p:first-child {
    border-bottom: 2px solid var(--Gold);
    width: fit-content;
    margin-bottom: 0.5rem;
  }

  .newsletter__social p:last-child {
    font-weight: var(--Raleway600);
    line-height: 1.5;
  }

  .fa-brands {
    font-size: 2rem;
    color: var(--Dark);
    transition: color 0.3s ease-in-out;
  }

  .fa-brands:hover {
    color: var(--DarkGold);
  }

  .newsletter__container.section__padding {
    padding: 0 0 6.5rem 0;
  }

  .newsletter__social-icon {
    display: flex;
    column-gap: 0.45rem;
  }

  .newsletter__form-wrapper {
    display: initial;
  }

  .footer__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__outer-row-first > div:last-child,
  .footer__outer-row-second > div:first-child,
  .footer__outer-row-second > div:last-child {
    margin-top: 0;
  }

  .footer__outer-row-second .footer__col:first-child {
    justify-self: center;
  }

  .footer__outer-row-first .footer__col:last-child {
    justify-self: self-end;
  }
}

@media screen and (min-width: 1024px) {
  .hero > div img {
    max-height: 100vh;
    width: 120%;
  }

  .hero__quotes h1 {
    font-size: 2.7rem;
    padding: 2rem 2rem;
  }

  .hero__quotes p {
    font-size: 1rem;
    width: calc(100% - 20%);
  }
}
