/* ====== TRENDING ======= */
.trending__swiper,
.testimonials__container {
  padding: 2rem 0 5rem;
}

.trending__card,
.testimonials__card {
  width: 300px;
  padding: 1rem;
  border: 2px solid var(--Black);
  border-radius: 0.25rem;
  transition: border 0.3s ease-in-out;
}

.trending__card > div {
  position: relative;
}

.trending__card img {
  width: 100%;
  height: 350px;
  margin-bottom: -5px;
  border-radius: 0.25rem;
  object-fit: cover;
  object-position: top;
}

.trending__info {
  position: absolute;
  padding: 1rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(45, 45, 45, 0.65);
  border-radius: 0.25rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.trending__info h4 {
  color: var(--White);
  font-family: var(--Raleway);
  font-weight: var(--Raleway500);
  border-bottom: 2px solid var(--White);
  width: fit-content;
  font-size: 0.836rem;
  text-transform: uppercase;
}

.trending__coat-info {
  display: grid;
  margin-top: 0.75rem;
  row-gap: 0.5rem;
}

.trending__coat-info > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.trending__coat-info > div i {
  color: var(--Gold);
}

.trending__coat-info > div p {
  color: var(--White);
  font-size: 0.75rem;
  font-weight: var(--Raleway500);
  font-family: var(--Raleway);
}

.trending__card > div:hover .trending__info {
  opacity: 1;
  visibility: visible;
}

.trending__card h3 {
  margin: 1.2rem 0 0.75rem;
  border-bottom: 2px solid var(--Gold);
  width: fit-content;
  border-radius: 0 0 0.1rem 0.1rem;
  font-family: var(--Josefin);
  text-transform: uppercase;
  font-size: 0.938rem;
  font-weight: 700;
}

.trending__card span {
  font-weight: var(--Raleway600);
  font-size: 14px;
}

.trending__price {
  font-family: var(--Josefin);
  font-weight: 700;
  font-size: 1.25rem;
}

.trending__occasions {
  margin-top: 0.5rem;
  font-size: 14px;
  line-height: 1.25;
  width: 90%;
}

.trending__card del {
  margin-right: 0.5rem;
}

.trending__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.trending__button {
  text-decoration: none;
  background: var(--Dark);
  color: var(--White);
  font-family: var(--Raleway);
  font-size: 12px;
  padding: 8px 0.938rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  font-weight: var(--Raleway600);
}

.trending__button:hover {
  border: 1.5px solid var(--White);
  background: var(--DarkGold);
  color: var(--White);
}

.add__cart-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--White);
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.add__cart-overlay.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3 ease-in-out, visibility 0.3s ease-in-out;
}

.add__cart-overlay img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: top;
}

.add__cart-content {
  margin: 3rem 1.5rem;
}

.add__cart-content h3 {
  font-family: var(--Josefin);
  text-transform: uppercase;
}

.add__cart-content > div {
  margin-top: 1rem;
}

.add__cart-content > div span {
  font-weight: var(--Raleway600);
}

.add__cart-content > div p {
  margin-top: 0.5rem;
}

.size__selection {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.size__selection span {
  border-radius: 50%;
  border: 1px solid var(--Dark);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.size__selection span.active__size {
  color: var(--White);
  background: var(--DarkGold);
  border: 1px solid rgba(45, 45, 45, 0.65);
}

.size__selection span:hover {
  color: var(--White);
  background: var(--DarkGold);
  border: 1px solid rgba(45, 45, 45, 0.65);
}

.fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.25rem;
  color: var(--Black);
}

.add__cart-content > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.add__cart-content > div:last-child p {
  font-size: 2rem;
  font-family: var(--Josefin);
}

.add__cart-content > div:last-child button {
  font-family: var(--Raleway);
  font-weight: var(--Raleway600);
  padding: 0.75rem 1.25rem;
  background: none;
  border: 1px solid var(--Black);
  border-radius: 0.2rem;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  color: var(--Black);
}

.add__cart-content > div:last-child button:hover {
  color: var(--White);
  background: var(--DarkGold);
  border: 1px solid rgba(45, 45, 45, 0.65);
}

/* COLORS */
.color > div {
  margin-top: 0.5rem;
  transition: border 0.1s ease-in-out;
  display: flex;
  column-gap: 0.5rem;
}

.color > div.active__color {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(45, 45, 45, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.casual__brown,
.casual__dark,
.casual__black,
.casual__blue,
.casual__gray {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.casual__brown {
  background: #9a958d;
}

.casual__dark {
  background: #3e454b;
}

.casual__blue {
  background: #48577c;
}

.casual__black {
  background: #0b0404;
}

.casual__gray {
  background: #24242c;
}
